body{	
		background-color: lightgrey
}		


nav {	margin:-40px auto 0px auto;
		background-color: grey;
		font-size:40px;
		text-align: right;
		padding-bottom:25px;
		padding-right:10px;

}
li{	
	display: inline;

}

a {
	color: whitesmoke;
}

nav li {
		font-family: 'Lobster', cursive;

}

.logo {
	height:80px;
	padding-left:8px;
	padding-top:8px;
	float: left;
}

input {
	margin: 5px 0;
	display:block;
	border: 2px solid grey;
    border-radius: 4px;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

form {
	padding-top:60px;
	margin: 0 auto; 
	width:600px;
	margin-left:40%;
}

h1 {
	font-family: 'Lobster', cursive;
	color: grey;
	padding-left:15px;
}

i {
    margin-left: 50px;
    vertical-align:middle;
    color: grey;
}
